<div class="header pad-both">
    {{{Header}}}
</div>
<div class="main-view">
    {{{Preview}}}
    <div class="content">
        {{#each blocks}}
            {{{this}}}
        {{/each}}
    </div>
</div>
<div class="footer">
    {{{Footer}}}
</div>
