.profile-view__content {
    display: flex;
}

.profile-view__menu-bar {
    padding-left: 0;

    @media (max-width: 440px) {
        margin: 5vw 0;
    }
}

.profile-view__security-form,
.profile-view__info-form,
.profile-view__sub-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-bar__list {
    z-index: 2;
    display: flex;
    list-style: none;
    padding: 0;
    width: 100%;

    @media (max-width: 1024px) {
        margin: 30px 0;
    }
}

.menu-bar__list-item-text {
    cursor: pointer;
    color: var(--white);
    text-decoration: none;
    letter-spacing: 0.1em;
    background-color: var(--medium-transparent-white);
    padding: 5px;

    @media (max-width: 1024px) {
        font-size: 14px;
    }
}

.list-item__first-child {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.list-item__last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.menu-bar__list-item-text:hover {
    transition: all 0.02s ease-in;
    cursor: pointer;
    background-color: var(--orangered-tr);
}

.form__input-btn {
    height: 2vw;
    width: 10vw;
    margin: 1vw 0;
    border: none;
    outline: none;
    border-radius: 0.3vw;
    background-color: var(--popup-button-color);
    color: var(--white);
    font-size: 0.9vw;
}

.form__input-btn:hover {
    background-color: var(--medium-transparent-white);
    cursor: pointer;
}

.form__input-btn:active {
    background-color: var(--popup-button-color);
}

.form__input {
    height: 1.8vw;
    width: 20vw;
    margin: 10px 0;
    border: solid 1px var(--light-grey);
    border-radius: 0.3vw;
}

.form__label {
    letter-spacing: 0.1em;
    align-self: flex-start;
    margin-top: 1vw;
}

.profile__close-btn {
    position: absolute;
    right: 30px;
}
