<div class="profile-view__menu-bar">
    <div class="menu-bar__wrapper">
        <ul class="menu-bar__list">
            <li><a class="menu-bar__list-item-text list-item-text_selected" data-info="InfoTab" name="InfoTab"
                   data-event="profileTabChanged" href="#">Информация</a></li>
            <li><a class="menu-bar__list-item-text" data-info="SecurityTab" name="SecurityTab"
                   data-event="profileTabChanged" href="#">Безопасность</a></li>
            <li><a class="menu-bar__list-item-text" data-info="SubscribeTab" name="SubscribeTab"
                   data-event="profileTabChanged" href="#">Подписка</a></li>
        </ul>
        <hr class="menu-bar__horizontal-line"/>
    </div>
</div>
<div class="profile-view__content">
    <div class="profile-view__security hidden profile-view__form" name="SecurityTabForm">
        {{{SecurityForm}}}
    </div>
    <div class="profile-view__sub hidden profile-view__form" name="SubscribeTabForm">
        <div class="subscription__wrapper">
            {{#if subscription}}

            {{else}}
                <div class="subscription__prev-label subscription__label">
                    У вас не оформлена подписка
                </div>
                <button class="subscription__prev-btn subscription__btn">Оформить подписку</button>
            {{/if}}
        </div>
    </div>
    <div class="profile-view__info active-form profile-view__form" name="InfoTabForm">
        {{{InfoForm}}}
    </div>
</div>
