<div class="dropdown-menu hidden">
    <div class="dropdown-menu__list">
        {{#each li}}
            <div data-id="{{{this.id}}}" class="dropdown-menu__item">
                {{{this.name}}}
            </div>
        {{/each}}
    </div>
</div>
