<div class="episode-queue-modal__title">Очередь серий</div>
<div class="episode-queue-modal__content">
    <div class="episode-queue-modal__episode">
        1 Название1
    </div>
    <div class="episode-queue-modal__episode episode-queue-modal__episode_hovered">
        <div class="episode-queue-modal__img">
            <img src="/static/img/test-picture.png">
        </div>
        <div class="episode-queue-modal__description">
            <span>
                В этой серии Пупа убивает Лупу, потом Пупу давит машина, но в бухгалтерии все равно все перепутали и зарплату никто не получил
            </span>
        </div>
    </div>
    <div class="episode-queue-modal__episode">
        2 Название2
    </div>
    <div class="episode-queue-modal__episode">
        3 Название3
    </div>
    <div class="episode-queue-modal__episode">
        4 Название4
    </div>
    <div class="episode-queue-modal__episode">
        5 Название5
    </div>
</div>