.episode-queue-modal {
  position: absolute;
  bottom: 8vh;
  right: 2vw;
  border-radius: 6px;
  background-color: var(--popup-background-color-wo-transparent);
  z-index: 1001;

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 1.2vw;
    color: var(--white);
    background-color: var(--popup-background-color);
    border-radius: 6px 6px 0 0;
    padding: 10px 20px 10px 20px;
  }

  &__episode {
    padding: 10px;
    color: var(--white);
  }

  &__description {
    color: white;
    font-size: 0.85vw;
    width: 10vw;
    padding: 5px;
  }

  &__img {
    transform: scale(0.9);
    img {
      border-radius: 5px;
    }
  }
}

.episode-queue-modal__episode_hovered {
  display: none;
}

.episode-queue-modal__episode:hover > .episode-queue-modal__episode_hovered {
  display: flex;
}

//TODO Доделать всплытие описания серии
