.content {
  &__info-block-wrapper {
    position: relative;
    bottom: 4.6vw;
  }

  &__info-block {
    font-weight: lighter;
    height: 550px;
    background-color: var(--black);
    min-height: 20vw;
  }
}

.info-block_tab {
  height: 100%;
}

.info-block{
  &__title-text {
    letter-spacing: 0.2em;
    color: var(--white);
    padding: 0;
    margin: 0;
    font-size: 35px;
  }
  &__close-btn {
    position: absolute;
    right: 1vw;
    top: 1vw;
    @media (max-width: 1024px) {
      right: 3vw;
    }
    @media (max-width: 440px) {
      top: 3vw;
      right: 4vw;
    }
  }
}

.info-block__about,
.item-title {
  color: var(--heading-grey);
  letter-spacing: 0.08em;
  font-weight: normal;
}

.close-btn {
  padding: 0;
  background-color: var(--crystal-clear);
  outline: none;
  border: none;
  cursor: pointer;

  &:hover {
    transition: all 0.1s ease-in-out;
    transform: scale(1.05);
    filter: drop-shadow(0px 0px 1px var(--white));
    background-color: var(--crystal-clear);
  }
}

.misc-item__rating {
  color: var(--rating-green);
}

.misc-item__subscribe {
  color: var(--white);
  background-color: var(--orangered-tr);
  border-radius: 5px;
  font-size: 14px;
  padding: 5px;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 0.1em;
  cursor: pointer;

  &:hover {
    filter: drop-shadow(0 0 0.4px var(--white));
  }
}

.misc-item__subscribe-free {
  color: var(--white);
  background-color: var(--green-tr);
  border-radius: 5px;
  font-size: 14px;
  padding: 5px;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 0.1em;
}

.item-value {
  letter-spacing: 0.08em;
  color: var(--white);
  padding-left: 0.5vw;
}
