.content {
  &__info-block-wrapper {
    font-size: 18px;
    position: relative;
    bottom: 4.8vw;
  }

  &__info-block {
    font-weight: lighter;
    height: 550px;
    background-color: var(--black);
    min-height: 20vw;
  }
}

.info-block_tab {
  height: 100%;
}

.info-block{
  &__title-text {
    letter-spacing: 0.2em;
    color: var(--white);
    padding: 0;
    margin: 0;
    font-size: 35px;
  }
  &__close-btn {
    position: absolute;
    right: 1vw;
    top: 1vw;
    @media (max-width: 850px) {
      right: 3vw;
    }
    @media (max-width: 375px) {
      top: 3vw;
      right: 6vw;
    }
  }
}

.info-block__about,
.item-title {
  color: var(--heading-grey);
  letter-spacing: 0.08em;
  font-weight: normal;
}

.close-btn {
  padding: 0;
  width: 1.5vw;
  height: 1.5vw;
  background-position: center center;
  background-color: var(--crystal-clear);
  outline: none;
  border: none;
  border-radius: 25px;
  cursor: pointer;

  &:hover {
    transition: all 0.1s ease-in-out;
    transform: scale(1.05);
    filter: drop-shadow(0px 0px 1px var(--white));
    background-color: var(--crystal-clear);
  }
}

.misc-item__rating {
  color: var(--rating-green);
}

.item-value {
  letter-spacing: 0.08em;
  color: var(--white);
  padding-left: 0.5vw;
}
