<div class="content__info-block-wrapper">
    <div class="content__info-block">
        <div class="info-block_tab">
            {{{CurrentTab}}}
        </div>
        {{{TabBar}}}
    </div>
</div>
