<div class="content__info-block-wrapper">
    <div class="content__info-block">
        <div class="info-block_tab">
            {{{CurrentTab}}}
        </div>
        {{{TabBar}}}
    </div>
    <div class="info-block__close-btn">
        <button class="close-btn" data-event="infoBlockClosed">
            <img class="close-btn__img" src="/static/img/close.svg" loading="lazy">
        </button>
    </div>
</div>
