<div class="search-view main-view">
    <div class="search-view__wrapper pad-both">
        <div class="search-view__title">
            Результат поиска
        </div>
        <div class="search-view__content-persons">
            {{{Persons}}}
        </div>

        <div class="search-view__content-grid">
            {{{ContentBlock}}}
        </div>
    </div>
</div>
