.header__sub-menu {
  top: 100%;
  right: 110px;
  position: absolute;
  animation: appearing-mini-modal  ease-in 0.3s 0s;
}

@keyframes appearing-mini-modal {
  from {filter: opacity(0)}
  50% {filter: opacity(0.5)}
  to {filter: opacity(1)}
}

.header-sub-menu__user, .header-submenu__close-btn {
  display: none;
}

.header-sub-menu__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.header-sub-menu__list__item {
  font-size: 2vw;
  display: inline;
  text-align: right;
  filter: drop-shadow(0 0 5px var(--shadow));
}

@media (max-width: 1024px) {
  .header__sub-menu {
    z-index: 2;
    width: 100%;
    right: 0;
    left: 0;
    top: var(--header-height-mobile);
  }

  .header-sub-menu__wrapper {
    background-color: var(--blackout-for-header);
    border: none;
    border-radius: 0;
    padding-bottom: 30px;
  }

  .header-sub-menu__list__item {
    font-size: 2.5vw;
    text-align: center;
    padding-top: 15px;
  }

  .header-sub-menu__list__item:focus {
    transform: scale(1.05);
    filter: drop-shadow(0 0 5px var(--white));
  }
}

@media (max-width: 440px) {
  .header__sub-menu {
    overflow-y: hidden;
    top: 0;
    bottom: 0;
  }

  .header-submenu__close-btn {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1001;
  }

  .header-sub-menu__user {
    padding-top: 90px;
    display: block;
    z-index: 1001;

    .header__avatar {
      margin-left: 45%;
      width: 40px;
      height: 40px;
    }

    .header__arrow {
      width: 6vw;
      height: 10vw;
    }

    .header__user, .header__arrow, .header__avatar {
      z-index: 1001;
    }
  }

  .gap {
    margin-bottom: 20px;
  }

  .header-sub-menu__wrapper {
    background-color: var(--blackout-for-header);
    height: 100vh;
    padding-bottom: 0;
  }

  .header-sub-menu__nav {
    height: 60%;
  }

  .header-sub-menu__list {
    height: 100%;
    justify-content: space-evenly;
  }

  .header-sub-menu__list__item {
    z-index: 1001;
    font-size: 8vw;
    padding: 0;
  }
}
