.header__sub-menu {
  top: 100%;
  right: 110px;
  position: absolute;
  animation: appearing-mini-modal  ease-in 0.3s 0s;
}

@keyframes appearing-mini-modal {
  from {filter: opacity(0)}
  50% {filter: opacity(0.5)}
  to {filter: opacity(1)}
}

.header-sub-menu__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.header-sub-menu__list__item {
  font-size: 2vw;
  display: inline;
  text-align: right;
  filter: drop-shadow(0 0 5px var(--shadow));
}

@media (max-width: 1024px) {
  .header__sub-menu {
    z-index: 2;
    width: 100%;
    right: 0;
    left: 0;
    top: var(--header-height-mobile);
  }

  .header-sub-menu__wrapper {
    background-image: linear-gradient(to bottom, var(--blackout-for-header) 50%, rgba(0, 0, 0, 0.5) 60%,
            rgba(0, 0, 0, 0.3) 70%, rgba(0, 0, 0, 0.2) 80%, rgba(0, 0, 0, 0.1) 90%, rgba(0, 0, 0, 0));
    border: none;
    border-radius: 0;
    padding-bottom: 80px;
  }

  .header-sub-menu__list__item {
    font-size: 2vw;
    text-align: center;
    padding-top: 15px;
  }

  .header-sub-menu__list__item:focus {
    transform: scale(1.05);
    filter: drop-shadow(0 0 5px var(--white));
  }
}

@media (max-width: 440px) {
  .header-sub-menu__wrapper {
    padding-bottom: 70px;
  }

  .header-sub-menu__list__item {
    font-size: 4vw;
    padding-top: 5px;
  }
}
