<div class="header-sub-menu__wrapper">
    <nav class="header-sub-menu__nav">
        <ul class="header-sub-menu__list">
            <li class="header-sub-menu__list__item"><a href="/browse" class="list-item-text list-item-text-selected">Главная</a></li>
            <li class="header-sub-menu__list__item"><a href="/serials " class="list-item-text">Сериалы</a></li>
            <li class="header-sub-menu__list__item"><a href="/movies " class="list-item-text">Фильмы</a></li>
            <li class="header-sub-menu__list__item"><a class="list-item-text" href="#">Последнее</a></li>
        </ul>
    </nav>
</div>
