.profile-view {
    color: var(--white);
    min-height: calc(100vh - 2 * var(--header-height));
}

.profile-view__form {
    width: 25vw;

    @media (max-width: 1024px) {
        width: 45vw;
    }

    @media (max-width: 440px) {
        width: 100%;
    }
}

.profile-view__content {
    display: flex;
    justify-content: center;
}

.profile-view__security-form,
.profile-view__info-form,
.profile-view__sub-form {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
