<div class="profile-view">
    <div class="profile-view__wrapper">
        <div class="profile-view__user-settings">
            {{{UserInfoBlock}}}
            {{{ProfileMenuBar}}}
        </div>
        <div class="profile-view__sub profile-view__form" name="SubscribeTabForm">
            <div class="subscription__wrapper">
                {{{SubscriptionForm}}}
            </div>
        </div>
    </div>
</div>
