.profile-view {
    color: var(--white);
    min-height: calc(100vh - 2 * var(--header-height));
    margin: 60px 10vw;

    @media (max-width: 1450px) {
        margin: 60px 5vw;
    }

    @media (max-width: 1200px) {
        margin: 60px 0;
    }
}

.profile-view__user-settings {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: flex-start;

    @media (max-width: 1200px) {
        width: auto;
    }
}

.profile-view__wrapper {
    display: flex;
    justify-content: space-evenly;

    @media (max-width: 1024px) {
        margin: 0 4vw;
        justify-content: space-between;
    }

    @media (max-width: 440px) {
        display: flex;
        flex-direction: column;
    }
}

.menu-bar__vertical-line {
    border: 1px solid var(--medium-transparent-white);
    height: 50vw;
}

.sec-form__wrapper, .info-form__wrapper {
    width: 25vw;
    @media (max-width: 1024px) {
        width: 45vw;
    }
    @media (max-width: 440px) {
        width: 100%;
    }
}

.profile-view__security-form,
.profile-view__info-form,
.profile-view__sub-form {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-view__sub {
    width: 40%;

    @media (max-width: 440px) {
        width: auto;
    }
}

.profile-view__btn {
    cursor: pointer;
    margin: 20px 0;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: var(--profile-btn);
    color: var(--white);
    font-size: 16px;
}
