.content__title {
    color: var(--white);
    font-size: 1.4vw;
    letter-spacing: 0.1vw;
    font-weight: lighter;
    margin: 10px 0;
}

.content__grid {
    display: grid;
    grid-row-gap: 7vh;
}

@media (max-width: 850px) {
    .content__grid {
        display: grid;
        grid-row-gap: 3vh;
        grid-column-gap: 1vw;
        grid-template-columns: repeat(2, 1fr);
    }

    .content__title {
        font-size: 3vw;
    }
}
