.profile-view {
    color: #FFFFFF;
    height: 100%;
}

.profile-view__user {
    min-width: 200px;
    width: 60vw;
    height: 20vw;
    margin: 2vw auto 0 auto;
}

.profile-view__user-info {
    background-image: url("../img/avatar.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.profile-view__user-meta {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
}

.user-meta__avatar {
    margin: 5vw -1.4vw 5vw 5vw;
    width: 20%;
}

.user-meta__labels {
    align-self: flex-start;
    margin-top: 4vw;
}

.user-meta__nickname, .user-meta__email {
    padding: 0;
    margin: 0;
    font-size: 1.1vw;
    font-weight: normal;
    -webkit-text-stroke: 0.02em black;
    letter-spacing: 0.1em;
}

.user-meta__email {
    margin-top: 1vw;
}

.user-meta__nickname {
    text-transform: uppercase;
}

.user-meta__edit-btn {
    background-image: url("../img/edit.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 2.8vw;
    height: 2.8vw;
    background-color: rgba(255, 255, 255, 0);
    outline: none;
    border: none;
    align-self: flex-end;
    margin-bottom: 3vw;
}

.user-meta__edit-btn:hover {
    background-color: rgba(255, 255, 255, 0.35);
    cursor: pointer;
}

.user-meta__edit-btn:active {
    background-color: rgba(255, 255, 255, 0);
}

.profile-view__menu-bar {
    padding-left: 0;
    margin: 2vw 0;
}

.menu-bar__list {
    display: inline-flex;
    list-style: none;
    margin: 1vw 0 0 20vw;
    padding: 0;
}

.menu-bar__list-item-text {
    color: #FFFFFF;
    text-decoration: none;
    padding-right: 20px;
    letter-spacing: 0.1em;
}

.list-item-text_selected {
    font-weight: normal;
}

.menu-bar__horizontal-line {
    width: 60vw;
    height: 2px;
    background-color: #FFFFFF;
}

.profile-view__content {
    display: flex;
    justify-content: center;
}

.profile-view__security-form , .profile-view__info-form, .profile-view__sub-form {
    margin: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.hidden {
    display: none;
}

.form__input-btn {
    height: 2vw;
    width: 10vw;
    margin: 1vw 0;
    border: none;
    outline: none;
    border-radius: 0.3vw;
    background-color: #7B38EA;
    color: #FFFFFF;
    font-size: 0.9vw;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

.form__input-btn:hover {
    background-color: #B182FF;
    cursor: pointer;
}

.form__input-btn:active {
    background-color: #581CBA;
}

.form__input {
    height: 1.8vw;
    width: 20vw;
    margin: 10px 0;
    border:solid 1px #ccc;
    border-radius: 0.3vw;
}

.form__label {
    letter-spacing: 0.1em;
    align-self: flex-start;
    margin-top: 1vw;
}

@media (max-width: 850px) {
    .form__input-btn {
        height: 4vw;
        width: 20vw;
        margin: 2vw 0;
        border-radius: 0.6vw;
        font-size: 1.8vw;
    }

    .form__input {
        height: 3.6vw;
        width: 40vw;
        border-radius: 0.6vw;
    }

    .form__label {
        margin-top: 1vw;
        font-size: 2vw;
    }

    .menu-bar__list-item-text {
        font-size: 2vw;
    }

    .user-meta__nickname, .user-meta__email {
        font-size: 2.1vw;
    }
}