.info-block {
    &__page-main {
        height: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        animation: appearing-info-block  ease-in 0.3s 0s;
    }

    @keyframes appearing-info-block {
        from {filter: opacity(0)}
        50% {filter: opacity(0.5)}
        to {filter: opacity(1)}
    }

    &__main-wrapper {
        height: 100%;
        width: 100%;
        backdrop-filter: brightness(0%);
        -webkit-backdrop-filter: brightness(0%);
        font-size: 1vw;
        @media (max-width: 1024px) {
            backdrop-filter: blur(10px) brightness(70%);
            -webkit-backdrop-filter: blur(10px) brightness(70%);
            font-size: 2vw;
        }

        @media (max-width: 440px) {
            font-size: 3vw;
        }
    }

    &__description {
        padding: 20px 0 0 60px;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        left: 0;
        z-index: 1;
        width: 40%;
        height: 90%;
        @media (max-width: 1024px) {
            height: 80%;
            width: 80%;
        }
    }

    &__title-text {
        @media (max-width: 1024px){
            font-size: 20px;
        }
    }

    &__title-main {
        @media (max-width: 440px) {
            margin-top: 25%;
        }
        @media (max-width: 375px) {
            margin-top: 50%;
        }
    }

    &__buttons {
        display: flex;
        width: 15vw;
        justify-content: space-between;
        @media (max-width: 1024px) {
            width: 35vw;
            padding-top: 4vw;
        }

        @media (max-width: 440px) {
            width: 50vw;
            padding-top: 4vw;
        }
    }

    &__video-holder {
        position: absolute;
        right: 0;
        bottom: 0;
        top: 0;
        @media (max-width: 1024px) {
            left: 0;
        }
    }

    &__video {
        height: 100%;
        img {
            height: 100%;
            @media (max-width: 1024px) {
                width: 100%;
            }
            @media (max-width: 1024px) {
                height: 60vw;
            }
        }
    }

    &__video-shade {
        position: absolute;
        background-image: linear-gradient(90deg, rgb(0, 0, 0) 10%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0));
        height: 100%;
        width: 30%;
        top: 0;
        left: 0;
        bottom: 0;
        @media (max-width: 440px) {
            background-image: linear-gradient(0deg, rgb(0, 0, 0) 10%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0));
            height: 50%;
            width: 100%;
            right: 0;
            left: 0;
            bottom: 0;
        }

        @media (max-width: 360px) {
            height: 40%;
        }
    }

    &__misc-main {
        display: flex;

        @media (max-width: 440px) {
            display: block;
            font-size: 4vw;
            margin-bottom: 10px;
        }
    }

    &__add-btn, &__like-btn, &__dislike-btn, &__play-btn {
        padding: 0;
        width: var(--button-size-normal);
        height: var(--button-size-normal);
        background-position: center center;
        background-color: var(--crystal-clear);
        outline: none;
        border: none;
        border-radius: 25px;
        &:hover {
            background-color: var(--medium-transparent-white);
            cursor: pointer;
        }
        @media (max-width: 1024px) {
            border-radius: 35px;
            width: var(--button-size-1024);
            height: var(--button-size-1024);
        }
        @media (max-width: 850px) {
            width: var(--button-size-850);
            height: var(--button-size-850);
            border-radius: 50px;
        }
        @media (max-width: 440px) {
            width: var(--button-size-440);
            height: var(--button-size-440);
            border-radius: 70px;
        }
        &__img {
            width: var(--button-size-normal);
            height: var(--button-size-normal);
            @media (max-width: 1024px) {
                width: var(--button-size-1024);
                height: var(--button-size-1024);
            }
            @media (max-width: 850px) {
                width: var(--button-size-850);
                height: var(--button-size-850);
            }
            @media (max-width: 440px) {
                width: var(--button-size-440);
                height: var(--button-size-440);
            }
        }
    }

    &__video_shade {
        @media (max-width: 1024px) {
            display: none;
        }
        @media (max-width: 375px) {
            display: none;
        }
    }
}

.item-link {
    color: var(--white);
    &:hover {
        color: var(--low-transparent-white);
    }
}

@media (max-width: 1024px) {
    .tabs__list-item-text { //TODO: этот стиль надо будет вынести в компоненту TabBar
        font-size: 1rem;
        padding: 0 1vw 0 1vw;
    }
}

@media (max-width: 375px) {
    .hidden-item {
        display: none;
    }
}
