<div class="main-view">
    <div class="person-movies">
        <div class="person-movies__title pad-both">
            {{{person}}}
        </div>
        <div class="person-movies__content-block">
            {{#if Content}}
                {{{Content}}}
            {{/if}}
        </div>
    </div>
</div>
