<div class="movies-view">
    <div class="movies__banner pad-both">
        <div class="movies-title">Фильмы</div>
        <div class="genres">
            <button class="genres-btn" data-event="revealPopup" data-modalstatus="genresModal">
                <div class="genres-btn__label">Жанры</div>
                <img class="genres-btn__arrow" src="/static/img/arrow.svg">
            </button>
            {{{SubMenu}}}
        </div>
    </div>
    {{{Preview}}}
    {{{ContentBlock}}}
</div>
