.movies__banner {
    position: absolute;
    z-index: 1;
    top: 70px;
    left: 0;
    display: flex;
    width: 20%;
    justify-content: flex-start;
    align-items: center;
}

.movies-view-content {
    margin-top: 60px;
}

.movies-view-content .content__grid {
    padding: 0 60px;
}

.movies-title {
    margin: 0 2vw 0 0;
    padding: 0;
    color: var(--white);
    font-size: 1.5em;
    text-shadow: 0 0 5px var(--black);
}

.movies-view {
    min-height: calc(100vh - 2 * var(--header-height));
}

.genres-btn {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 7vw;
    height: 2vw;
    border: 0.5px solid var(--white);
    outline: none;
    padding: 0;
    border-radius: 3px;
    cursor: pointer;
    background-color: var(--filter-btn);
}

.genre__label {
    text-shadow: 0 0 5px var(--black);
    margin: 0;
    padding: 0;
    color: var(--white);
    font-size: 1.5em;
}

.genres-btn:hover {
    background-color: var(--filter-btn-hover);
}

.genres-btn__arrow {
    width: 1vw;
    height: 1vw;
}

.genres-btn:focus {
    .genres-btn__arrow {
        transform: rotate(180deg);
    }
}

.genres-btn__label {
    font-size: 1vw;
    color: var(--white);
}

@media (max-width: 1024px) {
    .movies__banner {
        width: 50%;
    }

    .movies-title, .genre__label {
        font-size: 2vw;
    }

    .genres-btn {
        width: 14vw;
        height: 4vw;
        border-radius: 3px;
    }

    .genres-btn__label {
        font-size: 2vw;
    }

    .genres-btn__arrow {
        width: 2vw;
        height: 2vw;
    }

    .movies-view-content .content__grid {
        padding: 0 20px;
    }

    .movies-view-content {
        margin-top: 90px;
    }
}

@media (max-width: 440px) {
    .movies__banner {
        width: calc(100% - 2 * 20px);
    }

    .movies-title, .genre__label {
        font-size: 4em;
    }

    .movies-view-content {
        margin-top: 60px;
    }

    .genres-btn {
        width: 20vw;
        height: 8vw;
        border-radius: 3px;
    }

    .genres-btn__arrow {
        width: 3vw;
        height: 3vw;
    }

    .genres-btn__label {
        font-size: 3vw;
    }
}
