<div class="tabs">
    <ul class="tabs__list">
        {{#each tabs}}
        <li><a data-event="contentInfoTabChanged"
               class="tabs__list-item-text {{class}}"
               data-tab="{{{this.key}}}"
               href="#">{{{this.value}}}</a></li>
        {{/each}}
    </ul>
</div>
