<div class="tabs">
    <ul class="tabs__list">
        {{#each tabs}}
        <li><a class="tabs__list-item-text list-item-text_selected" href="#">{{{this}}}</a></li>
        {{/each}}
    </ul>
</div>
