.info-block {
  &__seasons-wrapper {
    height: 100%;
    display: flex;
    align-content: space-between;
    padding: 0 0 0 3.6vw;
    width: 100%;
    backdrop-filter: blur(10px) brightness(50%);
    -webkit-backdrop-filter: blur(10px) brightness(50%);

    @media (max-width: 440px) {
      font-size: 10px;
      flex-direction: column;
      width: 100%;
      padding: 0;
    }
  }

  &__page-seasons {
    height: 100%;
    display: flex;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: appearing-info-block  ease-in 0.3s 0s;

    @media (max-width: 1024px) {
      font-size: 1.8vw;
    }
  }
}

.seasons-wrapper {
  &__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    height: 88%;
    width: 5%;
    margin-right: 1vw;

    @media (max-width: 1024px) {
      width: 12%;
    }

    @media (max-width: 440px) {
      flex-direction: row;
      align-content: center;
      height: 10%;
      width: 100%;
    }
  }

  &__label {
    font-family: "Inter", Arial, sans-serif;
    font-size: 1vw;
    color: var(--white);

    @media (max-width: 1024px) {
      font-size: 2.5vw;
    }
    @media (max-width: 440px) {
      font-size: 4vw;
    }
  }

  &__button {
    cursor: pointer;
    color: var(--white);
    margin-top: 15px;
    width: 35px;
    height: 35px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: var(--highly-transparent-white);
    font-family: "Inter", Arial, sans-serif;

    @media (max-width: 1024px) {
      width: 30px;
      height: 30px;
    }

    @media (max-width: 440px) {
      width: 25px;
      height: 25px;
      margin-top: 0;
      margin-left: 15px;
    }
  }

  &__button:hover {
    transform: scale(1.05);
  }

  &__grid-wrapper {
    height: 100%;
    width: 100%;
    overflow-y: scroll;

    @media (max-width: 440px) {
      height: 80%;
    }
  }

  &__grid {
    padding: 9vh 20px 0 0;
    margin-left: 50px;

    @media (max-width: 440px) {
      padding: 4vh 20px 4vh 20px;
      margin-left: 2px;
    }
  }
}
