.latest-view {
  min-height: calc(100vh - 2 * var(--header-height));

  @media (max-width: 440px) {
    width: calc(100% - 2 * 20px);
  }
}

.latest__content-wrapper {
  margin-top: 20px;

  @media (max-width: 440px) {
    margin-top: 10px;
  }
}

.latest__wrapper {
  @media (max-width: 440px) {
    width: 100%;
  }
}

.latest__title {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0;
  color: var(--white);
  font-size: 1.5em;
  text-shadow: 0 0 5px var(--black);

  @media (max-width: 1024px) {
    font-size: 2vw;
  }

  @media (max-width: 440px) {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 4em;
  }
}
