<div class="latest-view">
    <div class="latest__title pad-both">Последнее</div>
    <div class="latest__wrapper pad-both">

        {{{FiltersBlock}}}

        <div class="latest__content-wrapper">
            {{{Content}}}
        </div>
    </div>
</div>
