.my-list__label {
    padding-top: 4vw;
    color: var(--white);
    font-size: 1vw;
}

.my-list__title {
    color: var(--white);
    font-size: 1.6vw;
    letter-spacing: 0.1vw;
    font-weight: lighter;
    margin: 10px 0;
}

@media (max-width: 850px) {
    .my-list__title {
        font-size: 3.2vw;
    }
}

@media (max-width: 440px) {
    .my-list__title {
        font-size: 5vw;
    }
}
