<div class="main-view">
    <div class="my-list__title pad-both">Мой список</div>
    <div class="my-list__wrapper pad-both">
        {{#if ContentBlock}}
            {{{ContentBlock}}}
        {{else}}
            <h2 class="my-list__label">Ваш список пуст</h2>
        {{/if}}
    </div>
</div>
