.search-line {
  height: 2vw;
  width: 16vw;
  position: relative;
}

.search-line_visible {
  animation: appearing-search-line ease-in-out 0.5s 0s;
}

.prompt-window {
  position: absolute;
  color: var(--white);
  background-color: var(--low-transparent-gray);
  height: 4vw;
  width: 15.9vw;
  border: 1px solid var(--white);
}

.prompt-window__labels {
  padding: 0.5vw;
}

@keyframes appearing-search-line {
  from {
    opacity: 0;
    transform: translateX(10px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}


.search-line__img {
  width: 1.5vw;
  height: 2vw;
  position: absolute;
  right: 0.5vw;
  cursor: pointer;
}

.search-line__input {
  background-color: var(--low-transparent-gray);
  height: 2vw;
  width: 16vw;
  outline: none;
  color: var(--white);
  border-radius: 3px;
  border: 1px solid var(--white);
}

.search-line__input:focus{
  outline: none;
}
