<div class="search-line hidden">
    <a href="" class="search-line__href" data-event="">
        <img class="search-line__img" src="/static/img/search.svg">
    </a>
    <input class="search-line__input" type="search" placeholder="Фильмы, сериалы, актеры..">
</div>
