<div class="blocker hidden" style="background-color: rgba(0, 0, 0, 0.8);"></div>
<div class="search-line hidden">
    <div class="search-line__href" data-event="">
        <img class="search-line__img" src="/static/img/search.svg" loading="lazy">
    </div>
    <input class="search-line__input" type="search" placeholder="Фильмы, сериалы, актеры..">
    <div class="prompt-window hidden">
        <div class="prompt-window__labels">

        </div>
    </div>
</div>
