.content__grid-item {
    position: relative;
    cursor: pointer;
    height: 9vw;
    width: 15vw;
    background-position: center center;
    background-color: var(--hover-gray);
}

.content__grid-item:hover {
    transition: all 0.5s 0.2s ease-in-out;
    transform: scale(1.2);
    z-index: 1;
    filter: drop-shadow(0 0 5px var(--shadow));
}

.content__grid-item:hover > .content__item_hovered {
    color: var(--white);
    font-size: 0.5vw;
    display: flex;
    opacity: 1;
    transition: opacity 0.5s 0.2s ease-in-out;
    animation: appearing-item ease-in 0.3s 0.2s;
}

@keyframes appearing-item {
    from {filter: opacity(0)}
    50% {filter: opacity(0.5)}
    to {filter: opacity(1)}
}

@media (max-width: 1024px) {
    .content__grid-item > .content__item_hovered > .item__buttons {
        justify-content: space-around;
        width: 100%;
        padding-bottom: 5vw;
    }

    .content__grid-item {
        height: 15vw;
        width: 23vw;
        box-shadow: none;
    }

    .content__grid-item:hover > .content__item_hovered {
        color: var(--white);
        font-size: 0.5vw;
    }
}

@media (max-width: 440px) {
    .content__grid-item > .content__item_hovered > .item__buttons {
        justify-content: space-around;
        width: 100%;
        padding-bottom: 5vw;
    }

    .content__grid-item {
        height: 25vw;
        width: 44vw;
    }
}
