<div class="content__grid-item">
    <img class="grid-item__img" src="{{poster}}">
    <div class="content__grid-item_hovered">
        <div class="grid-item__buttons">
            <a href="/watch/{{id}}" data-event="pathChanged" data-id="{{id}}">
                <button class="grid-item__play-btn grid__btn">
                    <img class="grid__play-btn-img grid__btn-img" src="/static/img/play2.svg">
                </button>
            </a>
            <button class="grid-item__add-btn grid__btn">
                <img class="grid-add-btn__img grid__btn-img" src="/static/img/add.svg">
            </button>
            <button class="grid-item__like-btn grid__btn">
                <img class="grid-like-btn__img grid__btn-img" src="/static/img/like.svg">
            </button>
            <button class="grid-item__dislike-btn grid__btn">
                <img class="grid-dislike-btn__img grid__btn-img" src="/static/img/dislike.svg">
            </button>
            <button class="grid-item__more-btn grid__btn" data-id="{{id}}">
                <img class="more-btn__img grid__btn-img" src="/static/img/more.svg">
            </button>
        </div>
    </div>
</div>
