.content__grid-item {
    cursor: pointer;
    height: 9vw;
    width: 15vw;
    background-position: center center;
    background-color: var(--hover-gray);
}

.content__grid-item:hover {
    transition: transform 0.5s ease-in-out;
    transform: scale(1.2);
    filter: drop-shadow(0 0 5px var(--shadow));
}

.content__grid-item:hover > .content__item_hovered {
    color: var(--white);
    font-size: 0.5vw;
    display: flex;
}

@media (max-width: 850px) {
    .content__grid-item > .content__item_hovered > .item__buttons {
        justify-content: space-around;
        width: 100%;
    }

    .content__grid-item {
        height: 25vw;
        box-shadow: none;
    }

    .content__grid-item:hover > .content__item_hovered {
        color: var(--white);
        font-size: 0.5vw;
    }
}
