.mini-modal {
    position: absolute;
    height: 4vw;
    right: 55px;
    top: var(--header-height);
    font-size: 16px;
    animation: appearing-mini-modal  ease-in 0.3s 0s;
}

@keyframes appearing-mini-modal {
    from {filter: opacity(0)}
    50% {filter: opacity(0.5)}
    to {filter: opacity(1)}
}

.mini-modal__wrapper {
    background-color: var(--hover-gray);
    border-top: 1px solid var(--white);
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 0;
}

.mini-modal__buttons {
    margin-left: 0.5vw;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.mini-modal__btn {
    cursor: pointer;
    line-height: 1em;
    color: var(--white);
    filter: drop-shadow(0 0 2px var(--black));
    text-decoration: none;
    letter-spacing: 0.1em;
}

.mini-modal__btn:hover {
    transition: all 0.1s ease-in-out;
    filter: drop-shadow(0 0.5px var(--white));
}

.mini-modal__arrow {
    position: absolute;
    right: 25px;
    transform: rotate(0.5turn);
    top: -1.4vw;
    width: 1.5vw;
    height: 2vw;
}

@media (max-width: 1024px) {
    .mini-modal {
        z-index: 2;
        width: 100%;
        right: 0;
        left: 0;
        top: var(--header-height-mobile);
        height: 15vw;
        font-size: 2.5vw;
        text-align: center;
    }

    .mini-modal__wrapper {
        background-color: var(--blackout-for-header);
        border: none;
        border-radius: 0;
        padding-bottom: 20px;
    }

    .mini-modal__buttons {
        margin-left: 0;
    }

    .mini-modal__arrow {
        display: none;
    }
}

@media (max-width: 440px) {

    .mini-modal {
        height: 20vw;
        font-size: 4vw;
    }

    .mini-modal__wrapper {
        padding-bottom: 40px;
    }
}
