<div class="header__logo">
    <a href="/browse"><img src="/static/img/logo.svg"></a>
</div>
<div class="header__menu">
    <nav class="header__nav">
        <ul class="nav__list">
            <li><a href="/browse" class="list-item-text list-item-text-selected">Главная</a></li>
            <li><a class="list-item-text" href="#">Сериалы</a></li>
            <li><a href="/movies" class="list-item-text">Фильмы</a></li>
            <li><a class="list-item-text" href="#">Последнее</a></li>
        </ul>
    </nav>
</div>
<div class="header__control-bars">
    <div class="header__burger control__item">
        <img src="/static/img/burger.svg">
    </div>
    {{{SearchInput}}}
    <button class="header__search-button" data-event="showSearchLine">
        <img class="header__search-img control__item" src="/static/img/search.svg">
    </button>
    <div class="header__user-block control__item">
        {{{UserBlock}}}
    </div>
</div>
