<div class="header__logo">
    <a href="/browse"><img src="/static/img/logo.svg" loading="lazy"></a>
</div>
<div class="header__menu">
    <nav class="header__nav">
        <ul class="nav__list">
            <li class="li__visible list__li"><a href="/browse" class="list-item-text list-item-text-selected">Главная</a></li>
            <li class="li__visible list__li"><a href="/serials " class="list-item-text">Сериалы</a></li>
            <li class="li__visible list__li"><a href="/movies " class="list-item-text">Фильмы</a></li>
            <li class="li__visible list__li"><a href="/last" class="list-item-text">Последнее</a></li>
            <li class="li__visible list__li"><a href="/free" class="list-item-text">Бесплатное</a></li>
        </ul>
        <div class="hidden__header-menu">
            <img src="/static/img/arrow2.svg" class="hidden__header-menu__arrow">
            <img class="header-menu__wrapper__arrow" src="/static/img/arrow2.svg" loading="lazy">
            <div class="hidden__header-menu__wrapper">
            </div>
        </div>
    </nav>
</div>
<div class="header__control-bars">
    {{{Menu}}}
    {{{SearchInput}}}
    <button class="header__search-button" data-event="showSearchLine">
        <img class="header__search-img control__item" src="/static/img/search.svg" loading="lazy">
    </button>
    <div class="header__user-block control__item">
        {{{UserBlock}}}
    </div>
    <button class="header__burger control__item" data-event="showNavMenu">
        <img src="/static/img/burger.svg" loading="lazy">
    </button>
</div>
