<div class="header__logo">
    <a href="/browse" data-event="pathChanged" ><img src="/static/img/logo.svg"></a>
</div>
<div class="header__menu">
    <nav class="header__nav">
        <ul class="nav__list">
            <li><a href="/browse" class="list-item-text list-item-text-selected" data-event="pathChanged">Главная</a></li>
            <li><a class="list-item-text" href="#">Сериалы</a></li>
            <li><a class="list-item-text" href="#">Кино</a></li>
            <li><a class="list-item-text" href="#">Последнее</a></li>
            <li><a class="list-item-text" href="#">Мои списки</a></li>
        </ul>
    </nav>
</div>
<div class="header__control-bars">
    <div class="header__burger control__item">
        <img src="/static/img/burger.svg">
    </div>
    <img class="header__search-img control__item" src="/static/img/search.svg">
    <div class="header__user-block control__item">
    {{{UserBlock}}}
    </div>
</div>
