.genres__sub-menu {
  z-index: 2;
  position: absolute;
  display: flex;
  height: auto;
  top: 2.5vw;
  padding: 1vw;
  background-color: var(--blackout-for-popup);
}

.sub-menu__list {
  display: flex;
  flex-direction: column;
}

.sub-menu__item {
  writing-mode: horizontal-tb;
  font-size: 1em;
  color: var(--white);
  flex-basis: 20%;
  margin-right: 30px;
  cursor: pointer;
}

.sub-menu__item:hover {
  transition: all 0.1s ease-in-out;
  transform: scale(1.02);
  filter: drop-shadow(0 0 0.5px var(--white));
}

.sub-menu__close-btn {
  padding: 0;
  width: 1.5vw;
  height: 1.5vw;
  background-position: center center;
  background-color: var(--crystal-clear);
  outline: none;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .sub-menu__item {
    font-size: 2.3em;
    flex-basis: 20%;
  }
}

@media (max-width: 440px) {
  .genres__sub-menu {
    top: 9vw;
    width: 90%;
    left: 0;
    background-color: var(--blackout-for-popup);
    height: 40vw;
    overflow: scroll;
    padding: 5%;
  }

  .sub-menu__list {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    writing-mode: vertical-lr;
  }
}
