.genres__sub-menu {
  z-index: 2;
  position: absolute;
  display: flex;
  height: auto;
  padding: 1vw;
  background-color: var(--blackout-for-popup);
}

.sub-menu__list {
  display: flex;
  flex-direction: column;
}

.sub-menu__item {
  writing-mode: horizontal-tb;
  font-size: 1em;
  color: var(--white);
  flex-basis: 20%;
  margin-right: 30px;
  cursor: pointer;
}

.sub-menu__item:hover {
  transition: all 0.1s ease-in-out;
  transform: scale(1.02);
  filter: drop-shadow(0 0 0.5px var(--white));
}

.sub-menu__close-btn {
  top: 20px;
  right: 20px;
  position: absolute;
}

@media (max-width: 1024px) {
  .sub-menu__item {
    flex-basis: 20%;
    text-align: center;
    padding: 5px;
    font-size: 2vw;
    margin: 0;
  }
}

@media (max-width: 440px) {
  .genres__sub-menu {
    width: 90%;
    left: 0;
    background-color: var(--blackout-for-header);
    height: 100%;
    overflow: scroll;
    padding: 5%;
    animation: appearing-sub-men  ease-in 0.3s 0s;
  }

  @keyframes appearing-sub-men {
    from {filter: opacity(0)}
    50% {filter: opacity(0.5)}
    to {filter: opacity(1)}
  }

  .sub-menu__list {
    z-index: 1001;
    width: 100%;
    display: flex;
    align-content: space-around;
    justify-content: space-between;
    writing-mode: unset;
    align-items: center;
  }

  .sub-menu__item {
    text-align: center;
    font-size: 5vw;
  }

  .sub-menu__close-btn {
    z-index: 1001;
  }
}
