<div class="blocker hidden" style="background-color: rgba(0, 0, 0, 0.8);"></div>
<div class="sub-menu__list">
    {{#each genres}}
        <a href="/{{{this.contentType}}}?genre={{this.id}}">
        <span class="sub-menu__item">
            {{{this.name}}}
        </span>
        </a>
    {{/each}}
</div>
<button class="close-btn sub-menu__close-btn">
    <img class="close-btn__img" src="/static/img/close.svg" loading="lazy">
</button>
