.footer {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0));
    height: 70px;
}

.footer__title {
    color: var(--white);
}

.footer__btn {
    padding: 0;
    font-size: 1.1em;
    margin-left: 10px;
    width: 5.5vw;
    height: 2.5vw;
    background-color: var(--low-transparent-gray);
    color: var(--white);
    border: 1px solid var(--low-transparent-white);
    border-radius: 3px;
    outline: none;
}

.footer__btn:hover {
    cursor: pointer;
    background-color: var(--low-transparent-white);
}

.footer__btn:active {
    background-color: var(--low-transparent-gray);
}

@media (max-width: 375px) {
    .footer {
        font-size: 3.5vw;
    }

    .footer__btn {
        font-size: 3.5vw;
        margin-left: 10px;
        width: 30vw;
        height: 10vw;
        border: 1px solid var(--low-transparent-white);
    }
}
