.subscribe-popup {
  background: rgba(20, 20, 20, 0.9);
  display: flex;
  margin: auto;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  width: 450px;
  z-index: 1001;

  &__wrapper {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__text {
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  &__button {
    cursor: pointer;
    border: none;
    outline: none;
    padding: 15px;
    border-radius: 0.3vw;
    background-color: var(--orangered);
    color: var(--white);
    font-size: 16px;
    position: center;
    margin-bottom: 30px;

    &:hover{
      transition: all 0.2s ease-in-out;
      transform: scale(1.02);
      filter: drop-shadow(0 0 3px var(--white));
    }

    &:active {
      transition: all 0.2s ease-in-out;
      transform: scale(1);
      filter: none;
    }
  }
}

