<div class="blocker"></div>

    <div class="subscribe-popup">
        <div class="subscribe-popup__text">
            Для просмотра контента необходимо оформить подписку
        </div>
        <button class="subscribe-popup__button">
            Оформить подписку
        </button>
    </div>

