<div class="admin-view">
    <div class="admin-wrapper">
        <div class="admin-buttons">
            <button class="admin-btn">Фильм</button>
            <button class="admin-btn">Сериал</button>
        </div>
        <div class="admin-form">{{{CurrentForm}}}</div>
    </div>
</div>
