<div class="free-view">
    <div class="free__title pad-both">Бесплатное</div>
    <div class="free__wrapper pad-both">

        {{{FiltersBlock}}}

        <div class="free__content-wrapper">
            {{{Content}}}
        </div>
    </div>
</div>
