.control__item {
    margin-left: 30px;
    cursor: pointer;
}

.header__avatar {
    width: 32px;
    height: 32px;
}

.header__user {
    display: flex;
    align-items: center;
}

.header__arrow {
    margin-left: 5px;
    width: 1vw;
    height: 2vw;
}

@media (max-width: 1024px) {
    .header__menu {
        display: none;
    }

    .header__avatar {
        width: 24px;
        height: 24px;
    }
}

@media (max-width: 440px) {
    .header__arrow {
        width: 4vw;
        height: 8vw;
    }
}
