{{#if authorized}}
    <a class="header__user" data-event="revealPopup" data-modalstatus="authmini">
        <img class="header__avatar" src="{{avatar}}" loading="lazy">
        <img class="header__arrow" src="/static/img/arrow.svg" loading="lazy">
    </a>
{{else}}
    <a class="header__user" data-event="revealPopup" data-modalstatus="unauthmini">
        <img class="header__avatar" src="/static/img/user.svg" loading="lazy">
        <img class="header__arrow" src="/static/img/arrow.svg" loading="lazy">
    </a>
{{/if}}
