.content__slider-item {
    z-index: 1000;
    top: 2.8vw;
    width: var(--one-sixth-of-screen);
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: transform 0.5s ease-in-out;
    transform: translateX(-10%);
    background-color: var(--hover-gray);
    height: 10vw;
    background-position: center center;
}

.item__img {
    object-fit: cover;
}

.slider-item_selected {
    border: 0.3vw solid var(--white);
    border-radius: 3px;
}

.slider-item_selected_hover-off {
    z-index: 1000;
    top: 2.8vw;
    width: var(--one-sixth-of-screen);
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: transform 0.5s ease-in-out;
    transform: translateX(-10%);
    background-color: var(--hover-gray);
    height: 10vw;
    background-position: center center;
}

.content__slider-item:first-child {
    margin-left: 1.5vw;
}

.container:focus-within .content__slider-item,
.container:hover .content__slider-item,
.container:hover .slider-item_selected_hover-off {
    transform: translateX(-10%);
}

.content__slider-item:focus ~ .content__slider-item,
.content__slider-item:hover ~ .content__slider-item,
.content__slider-item:hover ~ .slider-item_selected_hover-off {
    transform: translateX(10%);
}

.content__slider-container .content__slider-item:focus,
.content__slider-container .content__slider-item:hover {
    transform: scale(1.2) translateY(-5%);
}

.container:focus-within .slider-item_selected {
    transform: translateX(-10%);
}

.slider-item__arrow {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: -1.5vw;
}

.slider-item__arrow-img {
    width: 2vw;
    height: 1.5vw;
}

.content__slider-item:hover > .content__item_hovered {
    color: var(--white);
    font-size: 0.5vw;
    display: flex;
    flex-direction: column;
    padding-bottom: 1vw;
}

.content__slider-item:hover > .item__img {
    transform: translateY(-10%);
}

@media (max-width: 850px) {
    .content__slider-item {
        width: var(--one-third-of-screen);
        top: 8vw;
        height: 25vw;
    }

    .content__slider-item:hover > .item__img {
        transform: translateY(0%);
    }

    .slider-item_selected_hover-off {
        width: var(--one-third-of-screen);
        top: 8vw;
        height: 25vw;
    }

    .slider-item_selected_hover-off:first-child {
        margin-left: 3.5vw;
    }

    .content__slider-item:first-child {
        margin-left: 3.5vw;
    }

    .content__slider-item:hover > .content__item_hovered {
        color: var(--white);
        font-size: 0.5vw;
        display: flex;
        flex-direction: column;
    }
}
