@import "vars.css";
@import "components/Header/Header.css";
@import "components/UserHeader/UserHeader.css";
@import "components/Footer/Footer.css";
@import "components/Preview/Preview.css";
@import "components/Slider/Slider.css";
@import "components/UserInfoBlock/UserInfoBlock.css";
@import "components/ProfileMenuBar/ProfileMenuBar.css";
@import "components/Popup/Popup.css";
@import "components/Input/Input.css";
@import "components/Button/Button.css";
@import "components/SliderItem/SliderItem.css";
@import "components/InfoBlock/InfoBlock.css";
@import "components/TabBar/TabBar.css";
@import "components/MainTab/MainTab.css";
@import "components/DetailsTab/DetailsTab.css";
@import "components/ContentBlock/ContentBlock.css";
@import "components/MiniModal/MiniModal.css";
@import "components/Player/Player.css";
@import "views/ProfileView/ProfileView.css";
@import "views/PlayerView/PlayerView.css";
@import "views/MoviesView/MoviesView.css";

body {
    font-family: "Inter", Arial, sans-serif;
    background-color: var(--main-color);
    padding: 0;
    margin: 0;
    font-size: 1vw;
    font-weight: lighter;
}

@font-face {
    font-family: "Inter";
    src: url("../public/fonts/Inter.ttf");
}

::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
}

.main-view {
    min-height: calc(100vh - 2 * var(--header-height));
}

.pad-both {
    padding: 0 60px;
}

.hidden {
    display: none;
}

@media (max-width: 850px) {
    .pad-both {
        padding: 0 20px;
    }

    .control__item {
        margin-left: 10px;
    }
}
