@import "vars.css";
@import "components/Header/Header.css";
@import "components/Footer/Footer.css";
@import "components/Preview/Preview.css";
@import "components/Slider/Slider.css";
@import "components/UserInfoBlock/UserInfoBlock.css";
@import "components/ProfileMenuBar/ProfileMenuBar.css";
@import "components/Popup/Popup.css";
@import "components/Input/Input.css";
@import "components/Button/Button.css";
@import "components/SliderItem/SliderItem.css";
@import "components/InfoBlock/InfoBlock.css";
@import "components/TabBar/TabBar.css";
@import "components/MainTab/MainTab.css";
@import "components/DetailsTab/DetailsTab.css";
@import "components/ContentBlock/ContentBlock.css";
@import "components/MiniModal/MiniModal.css";
@import "components/Player/Player.css";
@import "views/ProfileView/ProfileView.css";
@import "views/PlayerView/PlayerView.css";

body {
    background-color: var(--main-color);
    padding: 0;
    margin: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 1vw;
    font-weight: lighter;
}

::-webkit-scrollbar {
    display: none;
}

.main-view {
    min-height: calc(100vh - 2 * var(--header-height));
}

.pad-both {
    padding: 0 60px;
}

.hidden {
    display: none;
}

@media (max-width: 850px) {
    .info-btn, .play-btn {
        width: 20vw;
        height: 6vw;
    }

    .sound-btn {
        width: 5vw;
        height: 5vw;
    }

    .sound-btn__img, .info-btn__img, .play-btn__img {
        width: 2.5vw;
        height: 2.5vw;
    }

    .play-btn__text, .info-btn__text {
        font-size: 1.8vw;
    }

    .pad-both {
        padding: 0 20px;
    }

    .control__item {
        margin-left: 10px;
    }
}
