@import "vars.scss";
@import "components/Header/Header.scss";
@import "components/UserHeader/UserHeader.scss";
@import "components/HeaderMenu/HeaderMenu.scss";
@import "components/SearchInput/SearchInput.scss";
@import "components/Footer/Footer.scss";
@import "components/Preview/Preview.scss";
@import "components/Slider/Slider.scss";
@import "components/UserInfoBlock/UserInfoBlock.scss";
@import "components/ProfileMenuBar/ProfileMenuBar.scss";
@import "components/Popup/Popup.scss";
@import "components/ContentPopup/ContentPopup.scss";
@import "components/Input/Input.scss";
@import "components/Button/Button.scss";
@import "components/Item/Item.scss";
@import "components/SliderItem/SliderItem.scss";
@import "components/GridItem/GridItem.scss";
@import "components/EpisodeCard/EpisodeCard.scss";
@import "components/InfoBlock/InfoBlock.scss";
@import "components/TabBar/TabBar.scss";
@import "components/MainTab/MainTab.scss";
@import "components/DetailsTab/DetailsTab.scss";
@import "components/SeasonsTab/SeasonsTab.scss";
@import "components/ContentBlock/ContentBlock.scss";
@import "components/MiniModal/MiniModal.scss";
@import "components/Player/Player.scss";
@import "components/Grid/Grid.scss";
@import "components/SubMenuPopup/SubMenuPopup.scss";
@import "views/ProfileView/ProfileView.scss";
@import "views/PlayerView/PlayerView.scss";
@import "views/MoviesView/MoviesView.scss";
@import "views/MyListView/MyListView.scss";
@import "views/PersonView/PersonView.scss";
@import "views/SerialView/SerialView.scss";
@import "views/SearchView/SearchView.scss";

body {
  position: relative;
  min-height: 100vh;
  font-family: "Inter", Arial, sans-serif;
  background-color: var(--main-color);
  padding: 0;
  margin: 0;
  font-size: 1vw;
  font-weight: lighter;
  user-select: none;
}

@font-face {
  font-family: "Inter";
  src: url("../public/fonts/Inter.ttf");
}

::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}

.main-view {
  min-height: calc(100vh - 2 * var(--header-height));
}

.pad-both {
  padding: 0 60px;
}

.hidden {
  display: none;
}

@media (max-width: 1024px) {
  .pad-both {
    padding: 0 20px;
  }

  .control__item {
    margin-left: 10px;
  }
}
