:root {
    --main-color: #141414;
    --popup-button-color: #434343;
    --popup-next-content-color: #434343;
    --popup-text-color: #b8b8b8;
    --popup-background-color: rgba(20, 20, 20, 0.9);
    --popup-background-color-wo-transparent: rgb(41, 41, 41);
    --popup-text-white: #fff;
    --popup-input-color: #fafafa;
    --popup-input-border-color: #000;
    --popup-shadow-color-title: rgba(0, 0, 0, 0.25);
    --header-height: 70px;
    --header-height-mobile: 50px;
    --low-transparent-gray: rgba(20, 20, 20, 0.6);
    --blackout-for-popup: rgba(0, 0, 0, 0.7);
    --blackout-for-header: rgba(0, 0, 0, 0.85);
    --white: rgba(255, 255, 255, 255);
    --nearly-white: rgba(250, 250, 255, 255);
    --profile-popup: rgba(45, 45, 45, 1);
    --profile-input: rgba(65, 65, 65, 1);
    --profile-btn: rgba(97, 97, 97, 1);
    --profile-misc: rgba(168, 168, 168, 1);
    --purple: rgba(139, 63, 253, 1);
    --black: rgba(0, 0, 0, 255);
    --filter-btn: rgba(0, 0, 0, 1);
    --filter-btn-hover: rgba(0, 0, 0, 0.3);
    --light-grey: #ccc;
    --low-transparent-white: rgba(255, 255, 255, 0.6);
    --medium-transparent-white: rgba(255, 255, 255, 0.4);
    --highly-transparent-white: rgba(255, 255, 255, 0.2);
    --crystal-clear: rgba(255, 255, 255, 0);
    --one-sixth-of-screen: 18.888%;
    --one-third-of-screen: 48%;
    --orangered: rgb(255, 69, 0);
    --orangered-tr: rgb(255, 69, 0, 0.7);
    --green-tr: rgb(101, 173, 89, 0.7);
    --hover-gray: rgb(30, 30, 30);
    --rating-green: #65ad59;
    --heading-grey: #bcbcbc;
    --shadow: rgba(0, 0, 0, 0.5);
    --content-popup-background-color: rgba(20, 20, 20, 1);
    --button-size-normal: 2.5vw;
    --button-size-1024: 5.5vw;
    --button-size-850: 5vw;
    --button-size-440: 9vw;
}
