.serials__banner {
  position: absolute;
  z-index: 1;
  top: 70px;
  left: 0;
  display: flex;
  width: 40%;
  justify-content: flex-start;
  align-items: center;
}

.serial-view-content {
  margin-top: 60px;
}

.serial-view-content .content__grid {
  padding: 0 60px;
}

.serials-title {
  margin: 0 2vw 0 0;
  padding: 0;
  color: var(--white);
  font-size: 1.5em;
  text-shadow: 0 0 5px var(--black);
}

.serials-view {
  min-height: calc(100vh - 2 * var(--header-height));
}

@media (max-width: 1024px) {
  .serials__banner {
    width: 50%;
  }

  .serials-title {
    font-size: 3em;
  }

  .serial-view-content .content__grid {
    padding: 0 20px;
  }
}

@media (max-width: 440px) {
  .serials__banner {
    width: calc(100% - 2 * 20px);
  }

  .serials-title {
    font-size: 4em;
  }

  .serial-view-content .content__grid {
    padding: 0;
  }
}
