<div class="episode-modal__title">Следующий эпизод</div>
<div class="episode-modal__content">
    <div class="episode-modal__img">
        <img src="{{host}}{{poster}}">
    </div>
    <div class="episode-modal__description">
        <span>
            {{{description}}}
        </span>
    </div>
</div>

