<div class="next-episode-modal__title">Следующий эпизод</div>
<div class="next-episode-modal__content">
    <div class="next-episode-modal__img">
        <img src="/static/img/test-picture.png">
    </div>
    <div class="next-episode-modal__description">
        <span>
            В этой серии Пупа убивает Лупу, потом Пупу давит машина, но в бухгалтерии все равно все перепутали и зарплату никто не получил
        </span>
    </div>
</div>

