.info-block {
    &__details-wrapper {
        height: 100%;
        display: flex;
        align-content: space-between;
        padding: 0 3.6vw 0 3.6vw;
        width: 100%;
        backdrop-filter: blur(10px) brightness(50%);
        -webkit-backdrop-filter: blur(10px) brightness(50%);

            @media (max-width: 440px) {
            font-size: 3.5vw;
            flex-direction: column;
            width: 100%;
        }
    }

    &__page-details {
        height: 100%;
        display: flex;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        animation: appearing-info-block  ease-in 0.3s 0s;

        @media (max-width: 1024px) {
            font-size: 1.8vw;
        }
    }

    &__left,
    &__right {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 50%;
        height: 80%;

        @media (max-width: 1024px) {
            height: 65%;
        }

        @media (max-width: 440px) {
            padding: 0;
            margin: 0;
            width: 100%;
        }
    }

    &__right {
        padding-left: 5vw;
        margin-top: 45px;

        @media (max-width: 440px) {
            margin-bottom: 40px;
            margin-top: 0;
            padding-left: 0;
        }
    }

    &__full-about {
        color: var(--white);
    }

    &__description {
        @media (max-width: 440px) {
            padding-left: 20px;
            justify-content: flex-start;
        }
    }
}

@media (max-width: 1024px) {
    .tabs__list-item-text { // TODO: Перенести в компоненту TabBar
        font-size: 1rem;
        padding: 0 1vw 0 1vw;
    }
}

@media (max-width: 1024px) {
    .info-block__left__item, .info-block__right__item {
        margin-bottom: 2vw;
    }
}
