.profile-view__user {
    min-width: 200px;
    width: 60vw;
    height: 20vw;
    margin: 2vw auto 0 auto;
    ::-webkit-scrollbar {
        display: none;
    }
}

.profile-view__user-info {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.profile-view__user-meta {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    overflow: hidden;
}

.user-meta__avatar {
    margin: 5vw -1.4vw 5vw 5vw;
    width: 20%;
}

.user-meta__labels {
    align-self: flex-start;
    margin-top: 4vw;
    height: 100%;
}

.user-meta__nickname,
.user-meta__email {
    padding: 0;
    margin: 0;
    font-size: 1.1vw;
    font-weight: normal;
    letter-spacing: 0.1em;
}

.user-meta__email {
    margin-top: 1vw;
}

.user-meta__nickname {
    text-transform: uppercase;
}

.user-meta__edit-btn {
    transition: all 0.1s ease-in-out;
    margin: 0 0 3vw 0;
    padding: 0;
    background-position: center center;
    width: 4vw;
    height: 4vw;
    background-color: var(--crystal-clear);
    outline: none;
    border: none;
    align-self: flex-end;
}

.user-meta__edit-btn-img {
    width: 3vw;
    height: 3vw;
}

.user-meta__edit-btn:hover {
    transition: all 0.1s ease-in-out;
    transform: scale(1.05);
    filter: drop-shadow(0 0 1px var(--white));
    cursor: pointer;
}

.user-meta__edit-btn:active {
    background-color: var(--crystal-clear);
}

@media (max-width: 1024px) {
    .profile-view__user {
        width: 80vw;
        height: 25vw;
    }

    .user-meta__avatar {
        width: 30%;
    }

    .user-meta__labels {
        margin-top: 5vw;
    }

    .user-meta__nickname,
    .user-meta__email {
        font-size: 1.5vw;
    }
}

@media (max-width: 440px) {
    .profile-view__user {
        width: 90%;
        height: 40vw;
    }

    .user-meta__avatar {
        width: 30%;
    }

    .user-meta__labels {
        margin-top: 30px;
    }

    .user-meta__nickname,
    .user-meta__email {
        font-size: 4vw;
        width: 210px;
        overflow-wrap: break-word;
    }

    .user-meta__edit-btn {
        width: 8vw;
        height: 8vw;
    }

    .user-meta__edit-btn-img {
        left: 0;
        width: 8vw;
        height: 8vw;
    }
}
