.profile-view__user {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--profile-popup);
    height: fit-content;
    padding: 30px;
    border-radius: 20px;
    margin-bottom: 50px;

    ::-webkit-scrollbar {
        display: none;
    }

    @media (max-width: 1024px) {
        width: fit-content;
    }

    @media (max-width: 440px) {
        width: auto;
        padding: 23px;
    }
}
.profile-view__profile-wrapper {
    padding: 30px;
    background-color: var(--profile-popup);
    height: fit-content;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    @media (max-width: 1024px) {
        width: fit-content;
    }

    @media (max-width: 440px) {
        margin-bottom: 30px;
    }
}

.user-meta__avatar-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
}

.user-meta__avatar {
    width: 10vw;
    border-radius: 5px;

    @media (max-width: 440px) {
        width: 20vw;
    }
}

.user-meta__labels {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.user-meta__nickname,
.user-meta__email {
    width: fit-content;
    color: var(--white);
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 0.1em;
}

.user-meta__email {
    margin-top: 1vw;
}

.user-meta__nickname {
    text-transform: uppercase;
}

.user-meta__edit-btn {
    position: absolute;
    left: 8vw;
    transition: all 0.1s ease-in-out;
    padding: 0;
    background-position: center center;
    height: 4vw;
    background-color: var(--crystal-clear);
    outline: none;
    border: none;
    align-self: flex-end;
}

.user-meta__edit-btn-img {
    width: 3vw;
    height: 3vw;
}

.user-meta__edit-btn:hover {
    transition: all 0.1s ease-in-out;
    transform: scale(1.05);
    filter: drop-shadow(0 0 1px var(--white));
    cursor: pointer;
}

.user-meta__edit-btn:active {
    background-color: var(--crystal-clear);
}

.user-meta__settings {
    margin-top: 1vw;
    background-color: var(--crystal-clear);
    color: var(--nearly-white);
    font-size: 16px;
    cursor: pointer;
    text-decoration-line: underline;
}

.user-meta__settings-img {
    width: 15px;
}

.user-meta__settings:hover {
    filter: drop-shadow(0 0 0.4px var(--white));
}
