<div class="profile-view__user">
    <div class="profile-view__user-info" style="background-image: url('{{avatar}}');">
        <div class="profile-view__user-meta">
            <img class="user-meta__avatar" src="{{avatar}}">
            <input id="file-upload" type='file' name="avatar" accept="image/*" hidden/>
            <button class="user-meta__edit-btn" data-event="uploadAvatar">
                <img class="user-meta__edit-btn-img" src="/static/img/edit.svg">
            </button>
            <div class="user-meta__labels">
                <h3 class="user-meta__nickname">{{nickname}}</h3>
                <h4 class="user-meta__email">{{email}}</h4>
            </div>
        </div>
    </div>
</div>
