.profile-view__user {
    font-family: "Roboto", Arial, sans-serif;
    min-width: 200px;
    width: 60vw;
    height: 20vw;
    margin: 2vw auto 0 auto;
}

.profile-view__user-info {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.profile-view__user-meta {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
}

.user-meta__avatar {
    margin: 5vw -1.4vw 5vw 5vw;
    width: 20%;
}

.user-meta__labels {
    align-self: flex-start;
    margin-top: 4vw;
}

.user-meta__nickname, .user-meta__email {
    padding: 0;
    margin: 0;
    font-size: 1.1vw;
    font-weight: normal;
    letter-spacing: 0.1em;
}

.user-meta__email {
    margin-top: 1vw;
}

.user-meta__nickname {
    text-transform: uppercase;
}

.user-meta__edit-btn {
    margin: 0 0 3vw 0;
    padding: 0;
    background-position: center center;
    width: 4vw;
    height: 4vw;
    background-color: var(--crystal-clear);
    outline: none;
    border: none;
    align-self: flex-end;
}

.user-meta__edit-btn-img {
    width: 3vw;
    height: 3vw;
}

.user-meta__edit-btn:hover {
    background-color: var(--medium-transparent-white);
    cursor: pointer;
}

.user-meta__edit-btn:active {
    background-color: var(--crystal-clear);
}

.profile-view__menu-bar {
    padding-left: 0;
    margin: 2vw 0;
}

@media (max-width: 850px) {
    .user-meta__nickname, .user-meta__email {
        font-size: 1.7vw;
    }
}

@media (max-width: 375px) {
    .user-meta__edit-btn {
        width: 5vw;
        height: 5vw;
    }

    .user-meta__edit-btn-img {
        left: 0;
        width: 4vw;
        height: 4vw;
    }

    .user-meta__nickname, .user-meta__email {
        font-size: 1.7vw;
    }
}
