<div class="content__slider-container">
    <h3 class="content__title pad-both">{{title}}</h3>
    <div class="content__slider pad-both">
        {{#each content}}
            {{{this}}}
        {{/each}}
    </div>
</div>
