<div class="content__row">
    <h3 class="content__title pad-both">{{title}}</h3>
    <div class="content__slider pad-both">
        {{#each content}}
        <div class="content__slider-item">
            <a><img class="slider-item__img" src="{{this.poster}}"></a>
        </div>
        {{/each}}
    </div>
</div>
