<div class="watch_page">
    <a data-event="redirectBack">
    <button class="player__back-btn">
        <img class="player__back-btn__img" src="/static/img/back.svg">
    </button>
    </a>
    <div class="player__wrapper">
        <video class="player" poster="{{poster}}">
            <source src="{{video}}" type="video/mp4">
        </video>
    </div>
</div>
